/AdminInterface.class
/AdminOperation.class
/CourseInterface.class
/CourseOperation.class
/GradesInterface.class
/GradesOperation.class
/LoginInterface.class
/LoginOperation.class
/ProfessorInterface.class
/ProfessorOperation.class
/ReportCardInterface.class
/ReportCardOperation.class
/StudentInterface.class
/StudentOperation.class
/UserInterface.class
/AuthCredentialSystem.class
/AuthCredentialSystemInterface.class
/AuthCredentialSystemOperations.class
/NotificationSystemOperation.class
