/.metadata/
/CRS-JEDI-Flipkart/.classpath
/CRS-JEDI-Flipkart/contacts.log
/CRS-JEDI-Flipkart-REST/.classpath
/CRS-JEDI-Flipkart-REST/contacts.log
/CRS-JEDI-Flipkart-REST/src/configs.properties
/CRS-JEDI-Flipkart/Servers
